.crd{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cont{
    background-color: #AED6F1;
}

.redes{
    background-color: black;
    margin: auto;
    padding: 10px 20px;
}
.exp{
    background-color: cornflowerblue;
}
.exp1{
    background-color: rgb(166, 83, 221);
}